body {
    background-image: url("bg-img.jpg");
    background-size: cover;
}

body div {
    width: 500px;
    height: 400px;
}

.message {
    top: 30%;
    left: 37%;
    background-color:rgba(0, 122, 153, 0.596);
    position: absolute;
    color: white;
    font-size: xx-large;
    font-weight: 500;
    font-family: sans-serif;
}

.back-button {
    position: absolute;
    top: 45%;
    left: 47%;
    background-color:rgba(0, 122, 153, 0.596);
    width: 70px;
    height: 35px;
    text-align: center;
    font-size: large;
    font-weight: 200;
    border-width: 2px;
    border-radius: 20px;
    border-color:rgba(0, 122, 153, 0.596);
    color: white;
    font-family: sans-serif;
}

.back-button:hover {
    cursor: pointer;
    color: black;
    padding: 0.2% 0.5% 0.3% 0.5%;
    border-radius: 40%;
}